freehelp-common/src/main/resources/dict.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT List (Dictionary*)>
<!ELEMENT Dictionary (id,parent,key,value?,attachment?,attachment2?,status?,remark?)>

<!ELEMENT id (#PCDATA)>
<!ELEMENT parent (#PCDATA)>
<!ELEMENT key (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT attachment (#PCDATA)>
<!ELEMENT attachment2 (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT remark (#PCDATA)>